In [1]:
import pandas as pd

In [3]:
df=pd.read_csv('/content/twitter_sentiment_data.csv')

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43943 entries, 0 to 43942
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   sentiment  43943 non-null  int64
 1   message    43943 non-null  object
 2   tweetid    43943 non-null  int64
dtypes: int64(2), object(1)
memory usage: 1.0+ MB
None

In [16]:
print(df.head())

   sentiment                                            message  \
0         -1  @tiniebeany climate change is an interesting h...
1          1  RT @NatGeoChannel: Watch #BeforeTheFlood right...
2          1  Fabulous! Leonardo #DiCaprio's film on #climat...
3          1  RT @Mick_Fanning: Just watched this amazing do...
4          2  RT @cnalive: Pranita Biswasi, a Lutheran from ...

              tweetid
0  792927353886371840
1  793124211518832641
2  793124402388832256
3  793124635873275904
4  793125156185137153

In [14]:
print(df.describe())

          sentiment       tweetid
count  43943.000000  4.394300e+04
mean       0.853924  8.367966e+17
std        0.853543  8.568506e+16
min       -1.000000  5.926334e+17
25%        0.000000  7.970376e+17
50%        1.000000  8.402301e+17
75%        1.000000  9.020003e+17
max        2.000000  9.667024e+17

In [13]:
print(df.isnull().sum())

sentiment    0
message      0
tweetid      0
dtype: int64